@model Comercio.Models.FornecedorViewModel
@{
    ViewData["Title"] = "fornecedor/editar";
}

<h1>@Model.Nome_empresa </h1>
<!-- Botão para modal AtualizarNomeEmailFornecedor-->
<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalAtualizarNomeEmailFornecedor" data-whatever="mdo">EDITAR NOME / EMAIL</button>

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_empresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome_empresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

<hr />
<div>
    <h4>ENDEREÇOS</h4>
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalInserirEndereco" data-whatever="mdo">NOVO</button>
    <!-- Exibir lista de endereços-->
    <table class="table">
        <thead>
            <tr>
                <th>
                    ENDEREÇO:
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Endereco)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Logradouro) ,
                        @Html.DisplayFor(modelItem => item.Numero) -
                        @Html.DisplayFor(modelItem => item.Cep) -
                        @Html.DisplayFor(modelItem => item.Cidade) -
                        @Html.DisplayFor(modelItem => item.UF)
                    </td>
                    <td>
                        <a asp-controller="Fornecedor" asp-action="atualizar-endereco" asp-route-fornecedor_id=@Model.Id asp-route-endereco_id=@item.Id class="btn btn-success btn-sm">EDITAR ENDEREÇO</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<div>
    <h4>TELEFONES</h4>
    <!-- Botão para modal InserirTelefone-->
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalInserirTelefone" data-whatever="mdo">NOVO</button>
    <!-- Exibir lista de telefones-->
    <table class="table">
        <thead>
            <tr>
                <th>
                    NÚMERO
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Telefone)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ddd)
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        <a asp-controller="Fornecedor" asp-action="atualizar-telefone" asp-route-fornecedor_id=@Model.Id asp-route-telefone_id=@item.Id class="btn btn-success btn-sm">EDITAR TELEFONE</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />

<div>
    <h4>VENDEDORES</h4>
    <!-- Botão para modal InserirVendedor-->
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalInserirVendedor" data-whatever="mdo">NOVO</button>
    <!-- Exibir lista de vendedores-->
    <table class="table">
        <thead>
            <tr>
                <th>
                    NOME
                </th>
                <th>
                    EMAIL
                </th>
                <th>
                    TELEFONE 1
                </th>
                <th>
                    TELEFONE 2
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Vendedor)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefones.First().Ddd)
                        @Html.DisplayFor(modelItem => item.Telefones.First().Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefones.Last().Ddd)
                        @Html.DisplayFor(modelItem => item.Telefones.Last().Numero)
                    </td>
                    <td>
                        <a asp-controller="Fornecedor" asp-action="atualizar-vendedor" asp-route-fornecedor_id="@Model.Id" asp-route-vendedor_id="@item.Id" class="btn btn-success btn-sm">EDITAR VENDEDOR</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a href="" onClick="history.go(-1); return false;" class="btn btn-info btn-sm"> VOLTAR</a>
</div>

<!-- Modal ExcluirFornecedor-->
<div class="modal fade" id="modalExcluirFornecedor" tabindex="-1" role="dialog" aria-labelledby="modalExcluirFornecedorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalExcluirFornecedorLabel">EXCLUIR FORNECEDOR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                TEM CERTEZA QUE DESEJA EXCLUIR ESSE FORNECEDOR ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                <a asp-controller="Fornecedor" asp-action="excluir" asp-route-id="@Model.Id" class="btn btn-danger">EXCLUIR</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal InserirEndereco-->
<div class="modal fade" id="modalInserirEndereco" tabindex="-1" role="dialog" aria-labelledby="modalInserirEnderecoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInserirEnderecoLabel">ADICIONE AQUI UM NOVO ENDEREÇO PARA ESSE FORNECEDOR:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="CANCELAR">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Fornecedor" asp-action="adicionar-endereco" asp-route-fornecedor_id="@Model.Id">
                    <h6>LOGRADOURO: <input type="text" name="logradouro" /></h6>
                    <h6>NÚMERO: <input type="text" name="numero" /></h6>
                    <h6>COMPLEMENTO: <input type="text" name="complemento" /></h6>
                    <h6>CEP: <input type="text" name="cep" /></h6>
                    <h6>BAIRRO: <input type="text" name="bairro" /></h6>
                    <h6>CIDADE: <input type="text" name="cidade" /></h6>
                    <h6>ESTADO: <input type="text" name="estado" /></h6>
                    <h6>UF: <input type="text" name="uf" /></h6>
                    <h6>TIPO DE ENDEREÇO: <select name="tipoEndereco" asp-items="@Model.TipoEndereco" class="align-items-md-center"></select></h6>
                    <input type="submit" value="ADICIONAR" class="btn-danger" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">CANCELAR</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal InseriTelefone-->
<div class="modal fade" id="modalInserirTelefone" tabindex="-1" role="dialog" aria-labelledby="modalInserirTelefoneLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInserirTelefoneLabel">ADICIONE AQUI UM NOVO TELEFONE PARA ESSE FORNECEDOR:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="CANCELAR">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Fornecedor" asp-action="adicionar-telefone" asp-route-fornecedor_id="@Model.Id">
                    <h6>DDD: <input type="text" name="ddd" /></h6>
                    <h6>NÚMERO: <input type="text" name="numero" /></h6>
                    <h6>TIPO DE TELEFONE: <select name="tipoTelefone" asp-items="@Model.TipoTelefone" class="align-items-md-center"></select></h6>                            <input type="submit" value="ADICIONAR" class="btn-danger" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">CANCELAR</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal InserirVendedor-->
<div class="modal fade" id="modalInserirVendedor" tabindex="-1" role="dialog" aria-labelledby="modalInserirVendedorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInserirVendedorLabel">ADICIONE AQUI UM NOVO VENDEDOR PARA ESSE FORNECEDOR:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="CANCELAR">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Fornecedor" asp-action="adicionar-vendedor" asp-route-Fornecedor_id="@Model.Id">
                    <h6>NOME: <input type="text" name="Nome" /></h6>
                    <h6>E-MAIL: <input type="text" name="Email" /></h6>
                    TELEFONE
                    <h6>DDD: <input type="text" name="Ddd" /></h6>
                    <h6>NUMERO: <input type="text" name="Numero" /></h6>
                    TELEFONE ADICIONAL
                    <h6>DDD: <input type="text" name="DddAdicional" /></h6>
                    <h6>NUMERO: <input type="text" name="NumeroAdicional" /></h6>
                    <input type="submit" value="ADICIONAR" class="btn-danger" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">CANCELAR</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal AtualizarNomeEmailFornecedor-->
<div class="modal fade" id="modalAtualizarNomeEmailFornecedor" tabindex="-1" role="dialog" aria-labelledby="modalAtualizarNomeEmailFornecedorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAtualizarNomeEmailFornecedorLabel">ALTERAR NOME DO FORNECEDOR:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="CANCELAR">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Fornecedor" asp-action="editarNomeEmail" asp-route-fornecedor_id="@Model.Id">
                    <h6>NOME: <input type="text" name="Nome" /></h6>
                    <h6>E-MAIL: <input type="text" name="Email" /></h6>
                    <input type="submit" value="SALVAR" class="btn-danger" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">CANCELAR</button>
            </div>
        </div>
    </div>
</div>
